<%#
Copyright (C) 2021 tt.bot dev team
 
This file is part of tt.bot.
 
tt.bot is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
 
tt.bot is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.
 
You should have received a copy of the GNU Affero General Public License
along with tt.bot.  If not, see <http://www.gnu.org/licenses/>.
%>
<div class="hero <%=isLanding ? "" :"is-primary"%>">
  <nav class="navbar <%=isLanding ? "is-transparent": ""%>">
    <div class="container">
      <div class="navbar-brand">
        <a href="/" class="navbar-item bot-bar-item">
          <img src="<%=bot.user.dynamicAvatarURL("png", 32)%>" alt="<%=bot.user.username%>"
              class="is-rounded">
          <span><%=bot.user.username%></span>
        </a>
        <a role="button" class="navbar-burger has-text-light" aria-label="Menu" aria-expanded="false" data-target="tttie-navbar-menu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" id="tttie-navbar-menu">
        <div class="navbar-start">
          <% if (user) { %>
          <a href="/dashboard" class="navbar-item">
            <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
            <span>Dashboard</span>
          </a>
          <% } %>
          <a href="https://discord.gg/pGN5dMq" class="navbar-item">
            <span class="icon"><i class="fab fa-discord"></i></span>
            <span>Discord</span>
          </a>
          <a href="https://ko-fi.com/tttie" class="navbar-item">
            <span class="icon"><i class="fas fa-heart"></i></span>
            <span>Donate</span>
          </a>
        </div>
        <div class="navbar-end">
          <% if (user) { %>
          <a href="/profile" class="navbar-item bot-bar-item">
            <figure class="image is-inline-block"><img src="<%=user.avatar%>" alt="<%=bot.getTag(user)%>" class="is-rounded"></figure>
            <span class="is-inline-block"><%=bot.getTag(user)%></span>
          </a>
          <a href="/logout" class="navbar-item">
            <span class="icon"><i class="fa fa-sign-out-alt"></i></span>
            <span>Logout</span>
          </a>
          <% } else { %>
          <a href="/login" class="navbar-item">
            <span class="icon"><i class="fa fa-sign-in-alt"></i></span>
            <span>Login</span>
          </a>
          <% } %>
        </div>

      </div>

    </div>
  </nav>
</div>