<%#
Copyright (C) 2021 tt.bot dev team
 
This file is part of tt.bot.
 
tt.bot is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
 
tt.bot is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.
 
You should have received a copy of the GNU Affero General Public License
along with tt.bot.  If not, see <http://www.gnu.org/licenses/>.
%>

<!DOCTYPE html>
<html>
<%- include("./partials/head") %>

<body>
    <section class="hero is-primary">
        <div class="hero-head"><%- include("./partials/header", { isLanding: false }) %></div>
        <div class="hero-body">
            <div class="container">
                <h2 class="title is-2 is-size-4-mobile">Dashboard</h2>
                <h4 class="subtitle is-4 is-size-5-mobile">Please pick a guild to manage its settings.</h4>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <%guilds.map(g => {%>
            <article class="media">
                <figure class="media-left">
                    <p class="image is-48x48">
                        <img class="is-rounded"
                            src="<%= g.icon ? `https://cdn.discordapp.com/icons/${g.id}/${g.icon}.png?size=64` : "https://cdn.discordapp.com/embed/avatars/0.png"%>">
                    </p>
                </figure>
                <div class="media-content is-clipped">
                    <h2 class="subtitle is-2"><%= g.name %></h2>
                </div>
                <div class="media-right">
                    <div class="buttons">
                        <% if (g.isOnServer) { %>
                        <a href="/dashboard/<%=g.id%>" class="button">
                            <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                        </a>
                        <% } else { %>
                        <a
                            href="<%=`https://discordapp.com/oauth2/authorize?client_id=${config.clientID}&scope=bot&guild_id=${g.id}`%>"
                            class="button">
                            <span class="icon"><i class="fa fa-plus"></i></span>
                        </a>
                        <% } %>
                    </div>
                </div>
            </article>
            <%})%>
    </section>
    <%- include("partials/footer") %>
</body>

</html>