<%#
Copyright (C) 2020 tt.bot dev team
 
This file is part of tt.bot.
 
tt.bot is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
 
tt.bot is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.
 
You should have received a copy of the GNU Affero General Public License
along with tt.bot.  If not, see <http://www.gnu.org/licenses/>.
%>

<!DOCTYPE html>
<html>
<%- include("./partials/head") %>

<body>
    <section class="hero is-primary">
        <div class="hero-head"><%- include("./partials/header", { isLanding: false }) %></div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <img class="is-round"
                    src="<%= erisGuild.icon ? erisGuild.dynamicIconURL('png', 256) : "https://cdn.discordapp.com/embed/avatars/0.png"%>"
                    height="128" width="128">
                <h2 class="title is-2 is-size-4-mobile"><%=erisGuild.name%> (<%=erisGuild.id%>)</h2>
                <h4 class="subtitle is-4 is-size-5-mobile">Here you can manage <%=erisGuild.name%>'s settings.</h4>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-one-quarter" id="menu">
                    <aside class="menu">
                        <ul class="menu-list">
                            <li>
                                <a href="/dashboard/<%=erisGuild.id%>#" class="is-active">Server settings</a>
                                <ul>
                                    <li><a href="/dashboard/<%=erisGuild.id%>#basic-settings">Basic settings</a></li>
                                    <li><a href="/dashboard/<%=erisGuild.id%>#welcome-settings">Farewell and welcome
                                            messages</a></li>
                                    <li><a href="/dashboard/<%=erisGuild.id%>#agree-settings">Server rule agreement
                                            settings</a></li>
                                    <li><a href="/dashboard/<%=erisGuild.id%>#log-settings">Logging</a></li>
                                </ul>
                            </li>
                            <li><a href="/dashboard/<%=erisGuild.id%>/extensions">Extensions</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="column">
                    <div class="tttie-changes-buttons">
                        <div class="buttons">
                            <a href="#" class="button">
                                <span class="icon"><i class="fa fa-arrow-up"></i></span>
                                <span>Back to top</span>
                            </a>

                            <button class="button" id="save">
                                <span class="icon"><i class="fa fa-save"></i></span>
                                <span>Save changes</span>

                            </button>
                            <button class="button is-danger" id="reset">
                                <span class="icon"><i class="fa fa-times"></i></span>
                                <span>Reset settings</span>
                            </button>
                        </div>
                    </div>
                    <div>
                        <h3 class="title is-size-3" id="basic-settings">Basic settings</h3>
                        <div class="content">
                            <h6 class="bot-setting is-size-5">Prefix</h6>
                            <p>Using <code><%=config.prefix%></code> as your prefix will continue working.</p>

                            <div class="control is-loading">
                                <input type="text" class="input" disabled id="tttie-dash-p">
                            </div>
                        </div>

                        <div class="content">
                            <h6 class="bot-setting is-size-5">Moderator role</h6>
                            <p>Moderator commands will be restricted to people who have this role, or the ones who
                                have relevant permissions to run the commands.</p>

                            <div class="select is-loading">
                                <select class="tttie-dashboard-role-picker no-role-hierarchy" disabled id="tttie-dash-mod">
                                    <option value="DASH_LOADING">...</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="content">
                            <h6 class="bot-setting is-size-5">Locale</h6>
                            <p><%=bot.user.username%> will speak in this language when the user hasn't configured a
                                profile.</p>

                            <div class="select is-loading">
                                <select id="tttie-dash-locale" disabled>
                                    <% for (const locale of locales) {%>
                                    <option value="<%=locale%>" <%= locale === "en" ? "selected" : "" %>>
                                        <%=locale%>
                                    </option>
                                    <%}%>
                            </select>
                        </div>
                        </div>
                        <br>
                        <div class="content">
                            <h6 class="bot-setting is-size-5">Modlog channel</h6>
                            <p>Moderation events run through <%=bot.user.username%> will be sent into the
                                    selected channel.</p>

                                    <div class="select is-loading">
                                        <select class="tttie-dashboard-channel-picker" disabled id="tttie-dash-ml">
                                            <option value="DASH_LOADING">...</option>
                                        </select>
                                    </div>
                            </div>

                            <h3 class="title is-size-3" id="welcome-settings">Farewell and welcome messages</h3>

                            <div class="content">
                                <h6 class="bot-setting is-size-5">Farewell message</h6>
                                <p><a href="https://github.com/tt-bot-dev/tt.bot/blob/master/docs/ttMsg.md">ttMsg</a>
                                    can be used in the farewell message.</p>
                                <div class="control is-loading">
                                    <textarea class="textarea is-loading" value="..." disabled
                                        id="tttie-dash-fm"></textarea>
                                </div>
                            </div>
                            <br>
                            <div class="content">
                                <h6 class="bot-setting is-size-5">Channel to send farewell messages in</h6>
                                <p><%=bot.user.username%> will send farewell messages into the selected channel.</p>
                                <div class="select is-loading">
                                    <select class="tttie-dashboard-channel-picker" disabled id="tttie-dash-fc">
                                        <option value="DASH_LOADING">...</option>
                                    </select>
                                </div>
                            </div>
                            <br>

                            <div class="content">
                                <h6 class="bot-setting is-size-5">Welcome message</h6>
                                <p><a href="https://github.com/tt-bot-dev/tt.bot/blob/master/docs/ttMsg.md">ttMsg</a>
                                    can be used in the welcome message.</p>
                                <div class="control is-loading">
                                    <textarea class="textarea" value="..." disabled id="tttie-dash-wm"></textarea>
                                </div>
                            </div>
                            <div class="content">
                                <h6 class="bot-setting is-size-5">Channel to send welcome messages in</h6>
                                <p><%=bot.user.username%> will send welcome messages into the selected channel.</p>
                                <div class="select is-loading">
                                    <select class="tttie-dashboard-channel-picker" disabled id="tttie-dash-wc">
                                        <option value="DASH_LOADING">...</option>
                                    </select>
                                </div>
                            </div>
                            <h1 class="title is-size-3" id="agree-settings">Server rule agreement settings</h1>
                            <div class="content">
                                <h6 class="bot-setting is-size-5">Agreement channel</h6>
                                <p><code><%=config.prefix%>agree</code> will only run in the selected channel.</p>
                                <div class="select is-loading">
                                    <select class="tttie-dashboard-channel-picker" disabled id="tttie-dash-ac">
                                        <option value="DASH_LOADING">...</option>
                                    </select>
                                </div>
                            </div>

                            <div class="content">
                                <h6 class="bot-setting is-size-5">Member role</h6>
                                <p>The selected role will be given to the people who type <code><%=config.prefix%>agree</code> in the channel selected above.</p>

                                <div class="select is-loading">
                                    <select class="tttie-dashboard-role-picker" disabled id="tttie-dash-mr">
                                        <option value="DASH_LOADING">...</option>
                                    </select>
                                </div>
                            </div>
                            <h1 class="title is-size-3" id="log-settings">Logging</h1>
                            <div class="content">
                                <h6 class="bot-setting is-size-5">Logging channel</h6>
                                <p>Logs will be sent into this channel.</p>
                                <div class="select is-loading">
                                    <select class="tttie-dashboard-channel-picker" disabled id="tttie-dash-loc">
                                        <option value="DASH_LOADING">...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="content">
                                <h6 class="bot-setting is-size-5">Events to log</h6>
                                <p>Events are separated by semicolons (<code>;</code>). The available choices are:
                                    <ul><% availableLoggingTypes.map(f => { %> <li><code><%=f%></code></li> <%})%></ul>
                                </p>
                                <div class="control is-loading">
                                    <input type="text" class="input" value="..." disabled id="tttie-dash-le">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <%- include("partials/footer") %>
    <script src="/dashboard/<%=guild.id%>/load.js"></script>
    <script src="/static/js/ttbotapi.js"></script>
    <script defer src="/static/js/dashboard.js"></script>
</body>

</html>