<!DOCTYPE html>
<html>
<%- include("./partials/head") %>

<body>
    <section class="hero is-primary">
        <div class="hero-head"><%- include("./partials/header", { isLanding: false }) %></div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <img class="is-round"
                    src="<%= erisGuild.icon ? erisGuild.dynamicIconURL('png', 256) : "https://cdn.discordapp.com/embed/avatars/0.png"%>"
                    height="128" width="128">
                    <h2 class="title is-2 is-size-4-mobile">Extensions for <%= erisGuild.name %></h2>
                    <h4 class="subtitle is-4 is-size-5-mobile">Please pick an extension to manage it.</h4>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-one-quarter" id="menu">
                    <aside class="menu">
                        <ul class="menu-list">
                            <li>
                                <a href="/dashboard/<%=erisGuild.id%>">Server settings</a>
                            </li>
                            <li><a href="/dashboard/<%=erisGuild.id%>/extensions" class="is-active">Extensions</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="column">
                    <div class="tttie-changes-buttons">
                        <div class="buttons">
                            <a href="/dashboard/<%=erisGuild.id%>" class="button">
                                <span class="icon"><i class="fa fa-arrow-left"></i></span>
                                <span>Back</span>
                            </a>
                            <a href="/dashboard/<%=erisGuild.id%>/extensions/new" class="button">
                                <span class="icon"><i class="fa fa-plus"></i></span>
                                <span>Create an extension</span>
                            </a>
                        </div>
                    </div>
                    <div class="extension-list">
                        <%extensions.map(e => {%>
                        <article class="media" data-id="<%=e.id%>" data-name="<%=e.name%>" data-store="<%=e.store%>">
                            <div class="media-content is-clipped">
                                <b><%=e.name%> (<%=e.id%>)</b><br>
                                Store ID: <%=e.store%>
                            </div>
                            <div class="media-right">
                                <div class="buttons">
                                    <a href="/dashboard/<%=erisGuild.id%>/extensions/<%=e.id%>" class="button">
                                        <span class="icon"><i class="fa fa-edit"></i></span>
                                    </a>
                                    <button class="button is-danger delete-extension">
                                        <span class="icon"><i class="fa fa-trash"></i></span>
                                    </button>
                                </div>
                            </div>
                        </article>
                        <%})%>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/dashboard/<%=erisGuild.id%>/load.js"></script>
    <script src="/static/js/ttbotapi.js"></script>
    <script src="/static/js/extensions-delete.js"></script>
    <%- include("partials/footer") %>
</body>

</html>