<!DOCTYPE html>
<html>
<%- include("./partials/head") %>
<body>
<div class="tttie-container">
<%- include("./partials/header") %>
<div class="tttie-body">
<div class="tttie-center">
<div>
<div class="tttie-center">
<div>
<h1>Are you sure you want to delete the extension <%=extension.name%>?</h1>

<p>This action is irreversible!</p>
</div>
</div>
<div>
<input type="checkbox" id="tttie-delete-store">
<label for="tttie-delete-store">Delete the store too (ID: <%=extension.store%>)</label>
<div class="tttie-changes-buttons">
<a class="tttie-linkbutton" id="delete"><div class="tttie-button red">Delete</div></a>
<a class="tttie-linkbutton" href="/dashboard/<%=erisGuild.id%>/extensions"><div class="tttie-button">Go back</div></a>
</div>
</div>

<script src="/dashboard/<%=erisGuild.id%>/load.js"></script>
<script src="/dashboard/<%=erisGuild.id%>/extensions/<%=extension.id%>/load.js"></script>
<script src="/static/js/ttbotapi.js"></script>
<script src="/static/js/extensions-delete.js"></script>
</div>
</div>
</div>
</div>
</div>
</body>
</html>