<!DOCTYPE html>
<html>
<%- include("./partials/head") %>
<body>
<div class="tttie-container">
<%- include("./partials/header") %>
<div class="tttie-body">
<div class="tttie-center">
<div>
<div class="tttie-center text">
<div>
<img class="tttie-server-dash-icon" src="<%=erisGuild.dynamicIconURL('png', 256) || '/static/unknown.png'%>"><br>
<h1>Extensions for <%=erisGuild.name%></h1>

<p>Here's a list of extensions. You can create one, or edit them, even delete them from there.</p>
</div>
</div>
<div>
<div class="tttie-changes-buttons">
<a class="tttie-linkbutton" href="/dashboard/<%=erisGuild.id%>/extensions/new"><div class="tttie-button">Create an extension</div></a>
</div>
</div>

<div class="tttie-table-wrapper">
<table class="tttie-table is-responsive">
<thead>
    <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Store ID</th>
    </tr>
</thead>
<tbody>

<%extensions.map(e => {%>
<tr>
<td><%=e.name%></td>
<td><%=e.id%></td>
<td><%=e.store%></td>
</tr>
<%})%>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>

</body>
</html>