<%if (guild) {%>
<!doctype html>
<html>
<%-include("partials/head")%>
<%-include("partials/links")%>
<style>
.role {
  padding-left: 3.5px;
  padding-right: 3.5px;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  border-style: solid;
  border-width: 1.5px;
  margin-right: 5px;
  margin-top: 4px;
}
</style>
<script>
function filterPeople(roleID) {
var elements = document.querySelectorAll(".mdl-list__item .role-" + roleID);
var element2 = document.querySelectorAll(".mdl-list__item");
var users = [];

elements.forEach(function(e) {
  users.push(e.parentElement.parentElement);
});
element2.forEach(function(e) {
  if (!users.includes(e)) return e.style.display = "none";
  else e.style.display = "block"
})
}
window.filterPeople = filterPeople
</script>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
<%-include("partials/header")%>
<main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
      <div class="page-content">
        <div class="center"><h2>Members of <%=guild.name%></h2></div><br>
        <span style="margin-left: 7.5px">Filter people by role:</span>  <a class="mdl-list__item-secondary-action" href="#" style="float: right"><button id="demo-menu-lower-right-<%=guild.id%>"
        class="mdl-button mdl-js-button mdl-button--icon">
<i class="material-icons">more_vert</i>
</button>
</a>

<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
    for="demo-menu-lower-right-<%=guild.id%>">
      <%guild.roles.forEach(role => {%>
       <li class="mdl-menu__item" style="color: #<%=decimalToHex(role.color)%>" onclick="filterPeople('<%=role.id%>')"><%=role.name%></li>
      <%})%>
</ul>
<br>
<br>
<div class="mdl-list">
      <%guild.members.forEach(member => {%>
  <div class="mdl-list__item member-<%=member.id%>">
    <span class="mdl-list__item-primary-content">
      <img class="mdl-list__item-avatar" src="<%=member.user.dynamicAvatarURL('png', 1024) || 'https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_person_white_24px.svg'%>">
      <span><%=member.username%>#<%=member.discriminator%> <%if (member.nick) {%>(<%=member.nick%>)<%}%></span>
    </span>
            <span class="mdl-list__item-secondary-content">
            <span class="role-<%=guild.id%>"></span>
      <%member.roles.map(r => guild.roles.get(r)).forEach(role => {%>
      <span class="role role-<%=role.id%>" style="border-color: #<%=decimalToHex(role.color)%>; color: #<%=decimalToHex(role.color)%>;"><%=role.name%></span> 
      <%})%>
    </span>
  </div>
  <%})%>

      </div>
      </div>
    </section>
</main>
</div>
</body>
</html>
<%}%>