<% if (guild) {%>
<!doctype html>
<html>
<%-include("partials/head")%>
<%-include("partials/links")%>
<style>
.guild {
  margin-top: 20px;
}
.guildicon {
  height: 128px;
  width: 128px;
  border-radius: 128px;
}
.guildinfo {
  font-size: 32px;
}
.big {
  font-size: 24px;
}
</style>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
<%-include("partials/header")%>
<main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
      <div class="page-content">
      <center>
      <button style="width:100vw; height: 7.5vh" class="mdl-button mdl-js-button mdl-js-ripple-effect" onclick="window.location = '/guilds/delete/<%=guild.id%>'">
  Delete <%=guild.name%>
</button>
<button style="width:100vw; height: 7.5vh" class="mdl-button mdl-js-button mdl-js-ripple-effect" onclick="window.location = '/guilds/invite/<%=guild.id%>'">
  Make an invite to <%=guild.name%>
</button>

          <div class="guild">
            <img src="<%=guild.dynamicIconURL('png', 1024) || 'https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_place_black_24px.svg'%>" class="guildicon"><br><br>
            
            <p class="big"><b><%=guild.name%></b> (<%=guild.id%>)<br>
            Owned by <b><%=guild.members.get(guild.ownerID).username%>#<%=guild.members.get(guild.ownerID).discriminator%></b></span></p>
            <p class="big"><b><%=guild.memberCount%></b> members (<b><%=guild.members.filter(m => m.user.bot).length%></b> bots)</p>

          </div>
                    </center>
                       <button style="width:100vw; height: 7.5vh" class="mdl-button mdl-js-button mdl-js-ripple-effect" onclick="window.location = '/guilds/<%=guild.id%>/members'">
  List <%=guild.name%> members
</button>
    </section>
</main>
</div>
</body>
</html>
<%}%>