<!doctype html>
<html>
<%-include("partials/head")%>
<%-include("partials/links")%>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
<%-include("partials/header")%>
<main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
      <div class="page-content">
      <% if (user && user.id == config.oid) {%>
            <button style="width:100vw; height: 7.5vh" class="mdl-button mdl-js-button mdl-js-ripple-effect" onclick="window.location = '/guilds/botcolls'">
  Bot collection guild list
</button>
      <%}%>
      <div class="mdl-list">
      <%bot.guilds.forEach(guild => {%>
  <div class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <img class="mdl-list__item-avatar" src="<%=guild.dynamicIconURL('png', 1024) || 'https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_place_white_24px.svg'%>">
      <span><%=guild.name%></span>
    </span>
    <% if (user && user.id == config.oid) {%>
    <a class="mdl-list__item-secondary-action" href="#"><button id="demo-menu-lower-right-<%=guild.id%>"
        class="mdl-button mdl-js-button mdl-button--icon">
  <i class="material-icons">more_vert</i>
</button>
</a>

<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
    for="demo-menu-lower-right-<%=guild.id%>">
  <a href="/guilds/delete/<%=guild.id%>"><li class="mdl-menu__item">Delete</li></a>
  <a href="/guilds/invite/<%=guild.id%>"><li class="mdl-menu__item">Invite</li></a>
  <a href="/guilds/<%=guild.id%>"><li class="mdl-menu__item">Server viewer</li></a>
</ul>
    <%}%>
  </div>
  <%})%>
  </div>
</div>
    </section>
    </section>
  </main>
  </div>
</body>
</html>