<!doctype html>
<html>
<%-include("partials/head")%>
<%-include("partials/links")%>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
<%-include("partials/header")%>
<main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
      <div class="page-content">
      <div class="mdl-list">
      <%bot.guilds.forEach(guild => {%>
  <div class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <img class="mdl-list__item-avatar" src="<%=guild.dynamicIconURL('png', 1024) || 'https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_place_white_24px.svg'%>">
      <span><%=guild.name%></span>
    </span>
    <% if (user && user.id == config.oid) {%>
    <a class="mdl-list__item-secondary-action" href="/guilds/delete/<%=guild.id%>"><i class="material-icons">delete</i></a>
    <%}%>
  </div>
  <%})%>
  </div>
</div>
    </section>
    </section>
  </main>
  </div>
</body>
</html>