<%#
Copyright (C) 2020 tt.bot dev team
 
This file is part of tt.bot.
 
tt.bot is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
 
tt.bot is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.
 
You should have received a copy of the GNU Affero General Public License
along with tt.bot.  If not, see <http://www.gnu.org/licenses/>.
%>

<!DOCTYPE html>
<html>
<%- include("./partials/head") %>

<body>
    <section class="hero is-fullheight is-primary">
        <div class="hero-head"><%- include("./partials/header", { isLanding: true }) %></div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <img class="bot-image is-round" src="<%=bot.user.dynamicAvatarURL("png", 2048)%>">
                <h1 class="title is-1 is-size-3-mobile"><%=bot.user.username%></h1>
                <em>an instance of tt.bot, an open-source moderation/utility Discord bot, powered by the Sosamba
                    framework.</em>
                <div class="hero-buttons">
                    <a href="https://discordapp.com/oauth2/authorize?client_id=<%=config.clientID%>&scope=bot"
                        class="button is-large is-primary">
                        <span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span>
                        <span>Add to a server</span>
                    </a>
                </div>
                <div class="hero-buttons">
                    <a class="button" href="https://github.com/tt-bot-dev/tt.bot">
                        <span class="icon"><i class="fab fa-github" aria-hidden="true"></i></span>
                        <span>tt.bot's GitHub</span>
                    </a>
                    <a class="button" href="https://github.com/tt-bot-dev/sosamba">
                        <span class="icon"><i class="fab fa-github" aria-hidden="true"></i></span>
                        <span>Sosamba's GitHub</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <%- include("partials/footer") %>
</body>

</html>