<!DOCTYPE html>
<html>
<%- include("./partials/head") %>
<body>
<div class="tttie-container">
<%- include("./partials/header") %>
<div class="tttie-body">
<div class="tttie-center text">
<div>
<h1>Hey there!</h1>
<p>This is the dashboard of <%=bot.user.username%>, an instance of tt.bot.</p>
<div class="tttie-center"><a href="https://tttie.github.io/ttbot" class="tttie-linkbutton"><div class="tttie-button">View tt.bot's features</div></a></div>
<p>This tt.bot instance currently knows <b><%=bot.guilds.size%></b> servers and <b><%=bot.users.size%></b> users.</p>
</div>
</div>
</div>
</div>
</body>
</html>