<%#
Copyright (C) 2020 tt.bot dev team
 
This file is part of tt.bot.
 
tt.bot is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
 
tt.bot is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.
 
You should have received a copy of the GNU Affero General Public License
along with tt.bot.  If not, see <http://www.gnu.org/licenses/>.
%>

<!DOCTYPE html>
<html>
<%- include("./partials/head") %>

<body>
    <section class="hero is-primary">
        <div class="hero-head"><%- include("./partials/header", { isLanding: false }) %></div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <img class="is-round" src="<%=user.avatar%>" height="128" width="128">
                <h2 class="title is-2 is-size-4-mobile">Hello, <%=bot.getTag(user)%></h2>
                <h4 class="subtitle is-4 is-size-5-mobile">You don't have a profile created yet. You can create one here.</h4>
            </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="buttons">
                <button class="button" id="autofill">
                    <span class="icon"><i class="fa fa-edit"></i></span>
                    <span>Autofill from browser</span>
                </button>
                <button class="button" id="save" data-isNew="true">
                    <span class="icon"><i class="fa fa-plus"></i></span>
                    <span>Create</span>
                </button>
            </div>
            <div class="content">
                <h6 class="bot-setting is-size-5">Locale</h6>
                <p><%=bot.user.username%> will speak in this language.</p>
                <div class="select">
                    <select id="tttie-profile-locale">
                        <option value="" selected disabled>Please select a locale</option>
                        <% for (const locale of locales) {%>
                        <option value="<%=locale%>">
                            <%=locale%>
                        </option>
                        <%}%>
                    </select>
                </div>
            </div>

            <div class="content">
                <h6 class="bot-setting is-size-5">Timezone</h6>
                <p><%=bot.user.username%> will display date and time using this timezone.</p>
                
                <div class="control">
                    <input type="text" class="input" id="tttie-profile-tz">
                </div>
            </div>


        </div>
    </section>
    <%- include("partials/footer") %>
    <script src="/profile/load.js"></script>
    <script src="/static/js/ttbotapi.js"></script>
    <script defer src="/static/js/profile-create.js"></script>
</body>

</html>