<!doctype html>
<html>
<%-include("partials/head")%>
<%-include("partials/links")%>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
<%-include("partials/header")%>
<main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
      <div class="page-content">
      <div class="mdl-list">
      <%tags.forEach(tag => {%>
  <div class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <span><%=tag.id%></span>
    </span>
    <% if (user && user.id == config.oid) {%>
    <a class="mdl-list__item-secondary-action" href="#"><button id="demo-menu-lower-right-<%=tag.id%>"
        class="mdl-button mdl-js-button mdl-button--icon">
  <i class="material-icons">more_vert</i>
</button>
</a>

<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
    for="demo-menu-lower-right-<%=tag.id%>">
  <a href="/tags/delete/<%=tag.id%>"><li class="mdl-menu__item">Delete</li></a>
  <a href="/tags/view/<%=tag.id%>"><li class="mdl-menu__item">View content</li></a>
</ul>
    <%}%>
  </div>
  <%})%>
  </div>
</div>
    </section>
    </section>
  </main>
  </div>
</body>
</html>