<%if (tag) {%>
<!doctype html>
<html>
<%-include("partials/head")%>
<%-include("partials/links")%>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
<%-include("partials/header")%>
<main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
      <div class="page-content">
        <button style="width:100vw; height: 7.5vh" class="mdl-button mdl-js-button mdl-js-ripple-effect" onclick="window.location = '/tags/delete/<%=tag.id%>'">
  Delete <%=tag.id%>
</button>
    <div class="center">
          <div class="guild">
            <h2><%=tag.id%></h2>
            <h3>Owned by <%=bot.users.get(tag.owner) ? bot.getTag(bot.users.get(tag.owner)) : "Unknown User#0000"%></h3>
            <h2>Content: (this might look else than on Discord)</h2>
            <%=tag.content%>
          </div>
                    </div>
      </div>
    </section>
</main>
</div>
</body>
</html>
<%}%>